<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hotel Booking Demand Prediction</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/project.css">
</head>

<body>
  <ul id="menu">
    <li data-menuanchor="page1" class="active"><a href="index.html">Home</a></li>
    <li data-menuanchor="page2"><a href="project.html">Project Overview</a></li>
    <li data-menuanchor="page3"><a href="/api">Data</a></li>
    <li data-menuanchor="page5"><a href="graphs.html">Plots</a></li>
    <li data-menuanchor="page6" class="other"><a href="https://github.com/codewithpratis">GitHub</a></li>
  </ul>
  <h1 class="ml1">
    <span class="text-wrapper">
      <span class="line line1"></span>
      <span class="letters">Graphs</span>
      <br>
    </span>
  </h1>
<hr>

  <!-- Creates the Overall Grid -->
  <div class="container">

    <!-- First Row -->
    <div class="row">

      <div class="col-md-8 pad top"> <br>

        <h1>Canceled Or Not?</h1> <br>

          <div class="pull-left">
            <img src="../static/PieChart1.png" alt="Hotels">
          </div>

        </div> <!-- 8 Columns -->

        <div class="col-md-4 pad top"> <br>

          <h3>Observations</h3> <br>

            <div class="pull-right">
              <p>For this graph, we just chose the not canceled data. And we found out that more than 60% of people booked the City Hotel than Resort Hotel </p>

        </div> <!-- 4 Columns -->

    </div> <!-- Row -->

  </div> <!-- Container -->
  <!-- Footer-->
  <div id="footer">
    <p>Created By Prateetya Bajracharya | 2020</p>
  </div>

  
</body>

</html>
