<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hotel Booking Demand Prediction</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/index.css">
</head>


<body>
  <ul id="menu">
    <li data-menuanchor="page1" class="active"><a href="index.html">Home</a></li>
    <li data-menuanchor="page2"><a href="project.html">Project Overview</a></li>
    <li data-menuanchor="page5"><a href="/api">Data</a></li>
    <li data-menuanchor="page3"><a href="graphs.html">Plots</a></li>
    <li data-menuanchor="page6" class="other"><a href="https://github.com/codewithpratis">GitHub</a></li>
  </ul>
  <h1 class="ml1">
    <span class="text-wrapper">
      <span class="line line1"></span>
      <span class="letters"><mark>Hotel Booking Prediction 2020</mark></span>
      <br>
    </span>
  </h1>
  <hr>
  <h2 class="ml2">
  <ul>
    <mark><b><center>Team</center></b></mark>
    <li>
     <mark> <center>Prateetya Bajracharya</center></mark>
    </li>
    <li>
    <mark><center>Kelly McClendon</center></mark>
    </li>
    <li>
     <mark> <center>Warren Judson</center> </mark>
    </li>
    
  </ul>
</h2>
  <!-- Footer-->
  <div id="footer">
    <p>Created By Prateetya Bajracharya | 2020</p>
  </div>

</body>

</html>